<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>sample.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>sample.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>sample.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>sample.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInvoiceController</servlet-name>
        <servlet-class>sample.controllers.SearchInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>sample.controllers.SigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingController</servlet-name>
        <servlet-class>sample.controllers.ShoppingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>sample.controllers.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>sample.controllers.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveController</servlet-name>
        <servlet-class>sample.controllers.RemoveProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowController</servlet-name>
        <servlet-class>sample.controllers.BuyNowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>sample.controllers.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginForCheckout</servlet-name>
        <servlet-class>sample.controllers.LoginForCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDataBaseController</servlet-name>
        <servlet-class>sample.controllers.UpdateDataBaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerController</servlet-name>
        <servlet-class>sample.controllers.SearchCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>sample.controllers.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerFromManagerController</servlet-name>
        <servlet-class>sample.controllers.UpdateCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerFromManagerController</servlet-name>
        <servlet-class>sample.controllers.DeleteCustomerFromManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>sample.controllers.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductFromManagerController</servlet-name>
        <servlet-class>sample.controllers.EditProductFromManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreLoginController</servlet-name>
        <servlet-class>sample.controllers.PreLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInvoiceController</servlet-name>
        <url-pattern>/SearchInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/SigninController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingController</servlet-name>
        <url-pattern>/ShoppingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveController</servlet-name>
        <url-pattern>/RemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowController</servlet-name>
        <url-pattern>/BuyNowController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginForCheckout</servlet-name>
        <url-pattern>/LoginForCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDataBaseController</servlet-name>
        <url-pattern>/UpdateDataBaseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerController</servlet-name>
        <url-pattern>/SearchCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerFromManagerController</servlet-name>
        <url-pattern>/UpdateCustomerFromManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerFromManagerController</servlet-name>
        <url-pattern>/DeleteCustomerFromManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/SearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductFromManagerController</servlet-name>
        <url-pattern>/EditProductFromManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreLoginController</servlet-name>
        <url-pattern>/PreLoginController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
